@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: #161616;
  margin: 0;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: strech;
}

.glowing-orbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -2;
}

.orb {
  position: absolute;
  width: 70%;
  height: 18rem;
  border-radius: 50%;
  filter: blur(80px);
  transform: translateZ(0);
  top: -10rem;
}

.blue-orb {
  right: 30px;
  background-color: #373F85;
  animation: 3s linear .1s alternate blue-orb-movement;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.purple-orb {
  left: 30px;
  background-color: #604192;
  animation: 3s linear .1s alternate purple-orb-movement;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.noise-wrapper {
  position: fixed;
  background-image: url('../img/noise.png');
  opacity: 0.05;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

article {
  margin-left: 5rem;
}

.experience-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title {
  width: 100%;
  border-right: 1px solid #fff;
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title h1 {
  font-family: 'Gemunu Libre', sans-serif;
  color: white;
  text-align: center;
  font-size: 8rem;
  width: fit-content;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-container ul {
  list-style-type: none;
}

.experience-container li {
  position: relative;
  padding: 2rem 20px;
  margin: 0;
}

.experience-container li:before {
  background-color: rgb(255, 255, 255);
  width: 4px;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
}

.bullet { 
  width: 28px; 
  margin-left: -27px; 
  padding-top: 12px;
  fill: #fff; 
  float: left; 
}

/* Start the line further down on the first list item */
.experience-container li:first-child:before { 
  top: 62px;  
}

/* Stop the line short on the final list item */
.experience-container li:last-child:before { 
  height: 62px; 
}

.experience-container h3 {
  font-family: 'Gemunu Libre', sans-serif;
  color: #fff;
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
  padding-left: 1rem;
}

.experience-container h6 {
  font-family: 'Gemunu Libre', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  padding-left: 1rem;

}

@media screen and (max-width: 1168px) {

  article {
    margin-left: 5rem;
    padding: 2rem;
  }

  .experience-wrapper {
    flex-direction: column;
  }
  .title {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .title h1 {
    font-size: 6rem;
  }
  .experience-container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  article {
    margin-left: 0rem;
    padding: 2rem;
  }

  .title h1 {
    margin: 6rem 0 2rem  0;
  }
}

@keyframes blue-orb-movement {
  0% {
    bottom: 3rem;
  } 25% {
    bottom: 4rem;
  } 50% {
    bottom: 3rem;
  } 75% {
    bottom: 2rem;
  } 100% {
    bottom: 0rem;
  }
}

@keyframes purple-orb-movement {
  0% {
    bottom: 3rem;
  } 25% {
    bottom: 4rem;
  } 50% {
    bottom: 3rem;
  } 75% {
    bottom: 2rem;
  } 100% {
    bottom: 0rem;
  }
}