.menu-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;

  background-color: #272727;

  border: 2px solid #535353;
  border-radius: 3rem;
  padding: 8px;
  height: fit-content;
  width: fit-content;

  z-index: 2;
}

.menu-button {
  border: none;
  display: flex;
  border-radius: 50%;
  background-color: #1C1B1B;
  padding: 5px;
  cursor: pointer;

  transition: all 0.4s;
}

.menu-button img {
  width: 38px;
  height: 38px;
}

.menu-button:hover {
  scale: 1.1;
  box-shadow: 0px 0 6px gray;
}

.menu-button:active {
  scale: 1;
}


@media (max-width: 768px) {
  .menu-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 0;
    margin-top: 15px;
  
    z-index: 2;
  }

  .menu-button img {
    width: 33px;
    height: 33px;
  }
  
}