@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: #161616;
  margin: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glowing-orbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -2;
}

.orb {
  position: absolute;
  width: 70%;
  height: 18rem;
  border-radius: 50%;
  filter: blur(80px);
  transform: translateZ(0);
  top: -10rem;
}

.blue-orb {
  right: 30px;
  background-color: #373F85;
  animation: 3s linear .1s alternate blue-orb-movement;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.purple-orb {
  left: 30px;
  background-color: #604192;
  animation: 3s linear .1s alternate purple-orb-movement;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.noise-wrapper {
  position: fixed;
  background-image: url('../img/noise.png');
  opacity: 0.05;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

.open-modal {
  transition: all 0.2s ease-in-out;
}

.open-modal:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal {
  width: 600px;
  height: fit-content;
  background-color: #161616;

  border: 1px solid #373F85;

  border-radius: 1.5rem;

  -webkit-box-shadow: 5px 5px 15px 5px rgba(96,65,146,0.55), -12px -1px 24px 0px rgba(55,63,133,0.55), -12px -1px 24px 0px rgba(55,63,133,0.55); 
  box-shadow: 5px 5px 15px 5px rgba(96,65,146,0.55), -12px -1px 24px 0px rgba(55,63,133,0.55), -12px -1px 24px 0px rgba(55,63,133,0.55);
}

.modal:focus {
  outline: none;
}

.modal::backdrop {
  background-color: #16161693;
}

.modal-content h2 {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  text-align: start;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.modal-img {
  width: 450px;
  object-fit: cover;
  border-radius: 1rem;
  margin: auto;
  display: block;
}

.modal-content p {
  font-family: Tahoma;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  text-align: start;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  width: 45px;
}

.projects-wrapper {
  max-width: 1200px;
}

.projects-wrapper h1 {
  font-family: 'Gemunu Libre', sans-serif;
  color: white;
  text-align: center;
  font-size: 8rem;
  margin: 4rem 0 0 0;
  width: fit-content;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.projects-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
  margin: 0 1rem;
}

.projects-container li {
  margin: 3rem 2rem;
}

.projects-container img {
  max-width: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

.projects-container h4 {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  color: #fff;
  text-align: start;
  padding: 0 1rem;
  margin: 0;
}


@media screen and (max-width: 980px) {
  .projects-container img {
    max-width: 300px;
  }
}

@media screen and (max-width: 820px) {

  .projects-container ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 1rem;
    margin: 0 1rem;
  }

  .projects-container li {
    margin: 1rem 2rem;
  }

  .projects-wrapper h1 {
    font-size: 6rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .projects-container img {
    max-width: 100%;
  }

  .modal {
    width: 80%;
  }

  .modal-img {
    width: 80%;
    object-fit: cover;
    border-radius: 1rem;
    margin: auto;
    display: block;
  }


}

@keyframes blue-orb-movement {
  0% {
    bottom: 3rem;
  } 25% {
    bottom: 4rem;
  } 50% {
    bottom: 3rem;
  } 75% {
    bottom: 2rem;
  } 100% {
    bottom: 0rem;
  }
}

@keyframes purple-orb-movement {
  0% {
    bottom: 3rem;
  } 25% {
    bottom: 4rem;
  } 50% {
    bottom: 3rem;
  } 75% {
    bottom: 2rem;
  } 100% {
    bottom: 0rem;
  }
}