<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <link type="text/css" rel="stylesheet" href="../static/styles/about.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/menu.css">
    <title>About me </title>
  </head>
  <body>
    <div class="noise-wrapper"></div>
    <div class="menu-wrapper">
      <a class="menu-button" href="/welcome">
        <img src="../static/icons/home.svg" />
      </a>
      <a class="menu-button" href="/about">
        <img src="../static/icons/about.svg" />
      </a>
      <a class="menu-button" href="/">
        <img src="../static/icons/book.svg" />
      </a>
      <a class="menu-button" href="/">
        <img src="../static/icons/flag.svg" />
      </a>
      <a class="menu-button" href="/">
        <img src="../static/icons/location.svg" />
      </a>
      <a class="menu-button" href="https://linkedin.com" target="_blank">
        <img src="../static/icons/linkedin.svg" />
      </a>
      <a class="menu-button" href="https://github.com" target="_blank">
        <img src="../static/icons/github.svg" />
      </a>
    </div>
    <article>
      <section class="about-container">
        <h1>About Me</h1>
        <div class="about-content-container">
          <div class="about-paragraph">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel eveniet eum ab, vitae animi ducimus dicta repellendus asperiores deserunt illo nulla, fugiat velit dignissimos. Odio ea autem itaque est repellat.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel eveniet eum ab, vitae animi ducimus dicta repellendus asperiores deserunt illo nulla, fugiat velit dignissimos. Odio ea autem itaque est repellat.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel eveniet eum ab, vitae animi ducimus dicta repellendus asperiores deserunt illo nulla, fugiat velit dignissimos. Odio ea autem itaque est repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel eveniet eum ab, vitae animi ducimus dicta repellendus asperiores deserunt illo nulla, fugiat velit dignissimos. Odio ea autem itaque est repellat. </p>
          </div>
          <div class="about-photo">
            <img src="../static/img/logo.jpg" alt="About Me Photo">
          </div>
        </div>
        <div class="tech-stack-list">
          <ul>
            <li>
              <img src="./static/icons/react.svg"/>
            </li>
            <li>
              <img src="./static/icons/python.svg"/>
            </li>
            <li>
              <img src="./static/icons/javascript.svg"/>
            </li>
            <li>
              <img src="./static/icons/typescript.svg"/>
            </li>
          </ul>
        </div>
      </section>
    </article>
    <article>
      <section class="hobbies-container">
        <h1>Things I enjoy</h1>
        <div class="images-container">
          <ul>
            <li>
              <img src="../static/img/logo.jpg" alt="">
              <h4>Coding</h4>
            </li>
            <li>
              <img src="../static/img/logo.jpg" alt="">
              <h4>Coding</h4>
            </li>
          </ul>
          <ul>
            <li>
              <img src="../static/img/logo.jpg" alt="">
              <h4>Coding</h4>
            </li>
            <li>
              <img src="../static/img/logo.jpg" alt="">
              <h4>Coding</h4>
            </li>
          </ul>
        </div>
      </section>
    </article>
  </body>
</html>