<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/styles/hobbies.css">
    <title>Hobbies</title>
  </head>
  <body>
    <div class="noise-wrapper"></div>
    <div class="glowing-orbs">
      <div class="orb blue-orb"></div>
      <div class="orb purple-orb"></div>
    </div>
    {% import 'menu.html' as menu %}
    {{ menu.menu() }}
    <article>
      <section class="hobbies-container">
        <h1>Things I enjoy</h1>
        <div class="images-container">
          <ul>
            {% for hobby in hobbies %}
            <li>
              <img src="{{ hobby.image }}" alt="">
              <h4>{{ hobby.name }}</h4>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </article>
  </body>
</html>