<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <link type="text/css" rel="stylesheet" href="../static/styles/hobbies.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/menu.css">
    <title>About me </title>
  </head>
  <body>
    <div class="noise-wrapper"></div>
    <div class="glowing-orbs">
      <div class="orb blue-orb"></div>
      <div class="orb purple-orb"></div>
    </div>
    <div class="menu-wrapper">
      <a class="menu-button" href="/welcome">
        <img src="../static/icons/home.svg" />
      </a>
      <a class="menu-button" href="/about">
        <img src="../static/icons/about.svg" />
      </a>
      <a class="menu-button" href="/">
        <img src="../static/icons/book.svg" />
      </a>
      <a class="menu-button" href="/">
        <img src="../static/icons/flag.svg" />
      </a>
      <a class="menu-button" href="/">
        <img src="../static/icons/location.svg" />
      </a>
      <a class="menu-button" href="https://linkedin.com" target="_blank">
        <img src="../static/icons/linkedin.svg" />
      </a>
      <a class="menu-button" href="https://github.com" target="_blank">
        <img src="../static/icons/github.svg" />
      </a>
    </div>
    <article>
      <section class="hobbies-container">
        <h1>Things I enjoy</h1>
        <div class="images-container">
          <ul>
            {% for hobby in hobbies_1 %}
            <li>
              <img src="{{ hobby.image }}" alt="">
              <h4>{{ hobby.name }}</h4>
            </li>
            {% endfor %}
          </ul>
          <ul>
            {% for hobby in hobbies_2 %}
            <li>
              <img src="{{ hobby.image }}" alt="">
              <h4>{{ hobby.name }}</h4>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </article>
  </body>
</html>