<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <link type="text/css" rel="stylesheet" href="../static/styles/index.css">
    <script src="../static/scripts/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Loading...</title>
  </head>
  <body>
    <div class="noise-wrapper"></div>
    <div class="wrapper">
      <div class="monitor-screen">
        <div class="monitor-lines"></div>
        <div class="monitor-text">
          <h1 class="loading-text">LOADING<span class="blinking-dot"></span></h1>
          <p class="monitor-writing-text hidden"></p>
        </div>
      </div>
    </div>
  </body>
</html>