{% macro menu() -%}
  <link type="text/css" rel="stylesheet" href="../static/styles/menu.css">

  <div class="menu-wrapper">
    <!-- Welcome Page -->
    <a class="menu-button" href="/welcome">
      <img src="../static/icons/home.svg" alt="Line drawn house" />
    </a>

    <!-- About Me Page -->
    <a class="menu-button" href="/about">
      <img src="../static/icons/about.svg" alt="letter i" />
    </a>

    <!-- Projects Page -->
    <a class="menu-button" href="/projects">
      <img src="../static/icons/book.svg" alt="Book icon" />
    </a>

    <!-- Experience Page -->
    <a class="menu-button" href="/experience">
      <img src="../static/icons/flag.svg" alt="Flag icon" />
    </a>

    <!-- Travel Page -->
    <a class="menu-button" href="/travel">
      <img src="../static/icons/location.svg" alt="Pinpoint icon" />
    </a>
  </div>
{%- endmacro %}